/*Steam Controller Styling*/

.controller.custom{
    /*background: url(https://raw.githubusercontent.com/sKiLLeFF/SteamControllerOverlay/master/steam_controller_home.png);*/
    width: 668px;
    height: 480px;
}

.custom .triggers{
    width: 520px;
    height: 121px;
    position: absolute;
    left: 126px;
    top: 239px;
    background: url(http://i.imgur.com/GaV5RBy.png);
    /* background-position: -152px 0px; */
    -webkit-clip-path: 50%;
}
.custom .trigger{
    width: 88px;
    height: 121px;
    background: url(http://mrmcpowned.com/gamepad/xbox-assets/trigger.svgz);
    opacity: 0;
}
.custom .trigger.left{
    float: left;
    background-position:0 0;
}
.custom .trigger.right{
    float: right;
    transform: rotateY(180deg);
}

.custom .sticks{
    position: absolute;
    width: 137px;
    height: 139px;
    top: 239px;
    left: 224px;
    background: url(http://mrmcpowned.com/gamepad/xbox-assets/base.svgz);
    background-position: -117px -214px;
    -webkit-clip-path: circle(50% at center);
    clip-path: circle(50% at center);
}
.custom .stick{
    position: absolute;
    background: url(http://mrmcpowned.com/gamepad/xbox-assets/stick.svgz);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.custom .stick.left{
    top: 24px;
    left: 27px;
}
.custom .stick.right{
    top: 113px;
    left: 288px;
    display: none;
}

.custom.half{
    margin-top: -315px;
}
.custom{
    background: no-repeat center;
}