/*Steam Controller Styling*/

.controller.custom{
    width: 320px;
    height: 100px;
}

.custom .triggers{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url(https://raw.githubusercontent.com/sKiLLeFF/SimpleRacePadOverlay/master/button_off.png);
}
.custom .trigger{
    width: 100px;
    height: 100px;
}
.custom .trigger.left{
    position: absolute;
    left: 0px;
    top: 0px;
    background: url(https://raw.githubusercontent.com/sKiLLeFF/SimpleRacePadOverlay/master/brake.png);
    float: left;
}
.custom .trigger.right{
    position: absolute;
    left: 200px;
    top: 0px;
    background: url(https://raw.githubusercontent.com/sKiLLeFF/SimpleRacePadOverlay/master/accelerate.png);
    float: right;
}

.custom .sticks{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    top: 0px;
    background: url(https://raw.githubusercontent.com/sKiLLeFF/SimpleRacePadOverlay/master/joystick_bg.png);;
}
.custom .stick{
    position: absolute;
    height: 100px;
    width: 100px;
}

.custom .stick.left{
    top: 0px;
    left: 0px;
    background: url(https://raw.githubusercontent.com/sKiLLeFF/SimpleRacePadOverlay/master/joystick_fg.png);
}

.custom.half{
    margin-top: -315px;
}
.custom{
    background: no-repeat center;
}